body {
    background-image: url("Images/Background.png");
    background-repeat:round;
    font-family: 'Ubuntu Mono', monospace;
    color: grey;
    text-align: center;
    font-size: calc(25px + 0.5vw);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
#CenterBody {
    display: block;
    background-color: #252525;
    text-align: left;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
#Header {
    position: sticky;
    top: 0;
    color: #a3a3a3;
    background-color: #000;
    margin: -10px;
    height: 15vh;
    z-index: 500;
}
.Text {
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ColouredText {
    font-size: calc(25px + 0.25vw);
    color: #009933;
}
#Left {
    display: inline-block;
    width: 20vw;
    height: max-content;
}
#Right {
    text-align: left;
    display: inline-block;
    width: 60vw;
}
#SelfPortrait {
    display: inline-block;
    width: 15vw;
    margin: 20px;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
}
#ResumeButton {
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 0px 1vw rgb(17, 17, 17);
    color: #009933;
    padding: 0.2vw;
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
#ResumeButton:hover {
    text-decoration: underline;
}
#ResumeIcon {
    max-width: 100%;
    width: 30px;
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -moz-transform: translateY(15%);
    -ms-transform: translateY(15%);
    -o-transform: translateY(15%);
}
#ContactInfo {
    margin: 1vh 0 1vh 0;
    font-weight: bold;
}
.textaligncenter {
    text-align: center;
}
.textalignleft {
    text-align: left;
}
.textalignright {
    text-align: right;
}
.noMargin {
    padding: 0;
}
#LowerBody {
    display: block;
    background-color: #252525;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
}
#LowerBodyTitle {
    /*background-color: #000;*/
    border-radius: 0.25vw;
    font-weight: bold;
    margin-bottom: 20px;
    -webkit-border-radius: 0.25vw;
    -moz-border-radius: 0.25vw;
    -ms-border-radius: 0.25vw;
    -o-border-radius: 0.25vw;
}
.Showcase {
    display: inline-block;
    background-color: #141414;
    border: 1px solid #000;
    width: max-content;
    margin: 10px;
    border-radius: 0.25vw;
    -webkit-border-radius: 0.25vw;
    -moz-border-radius: 0.25vw;
    -ms-border-radius: 0.25vw;
    -o-border-radius: 0.25vw;
}
.Showcase:hover .ShowcaseTitle {
    text-decoration: underline;
}
.ShowcaseIMG {
    max-width: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
.ShowcaseTitle {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}
.ShowcaseTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}
.PopupShowcaseSticky {
    position: sticky;
    top: 15vh;
    z-index: 200;
}
.PopupShowcase {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 85vh;
    padding: 25px;
    padding-top: 50px;
    background-color:rgb(17, 17, 17);
}
iframe {
    max-height: 100%;
    margin: 0;
    padding: 0;
}
.CloseButton {
    display: block;
    text-align: right;
    /*position: absolute;*/
    max-width: 100%;
    height: 2vw;
}
.CloseButtonImg {
    height: 100%;
}
#LightsOnPopup {
    display: none;
}
.GameInformation {
    background-color: #424242;
    margin-top: -10px;
    padding-left: 20px;
    text-align: left;
    vertical-align: center;
    height: 4vh;
    border-radius: 0px 0px 2vw 2vw;
    -webkit-border-radius: 0px 0px 2vw 2vw;
    -moz-border-radius: 0px 0px 2vw 2vw;
    -ms-border-radius: 0px 0px 2vw 2vw;
    -o-border-radius: 0px 0px 2vw 2vw;
}
.GameInformationImage {
    max-height: 100%;
    width: 100px;
}
a {
    user-select: none;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}
a:hover {
    color: #a7a7a7;
}
@media screen and (max-width: 600px) {
    #CenterBody {
        text-align: center;
        padding: 0px 0 0 0;
        margin: 0;
    }
    #LowerBody {
        margin: 20px 0 0 0;
    }
    .Text {
        display: block;
        margin: 0 -12vw 0 -12vw;
    }
    #Left {
        width: max-content;
        margin-bottom: 2vh;
    }
    #SelfPortrait {
        display: block;
        width: 50vw;
        text-align: center;
        margin: 20px 0 20px 0;
        transform: translateY(-0%);
        -webkit-transform: translateY(-0%);
        -moz-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        -o-transform: translateY(-0%);
    }
    #ContactInfo {
        text-align: center;
    }
    #ResumeButton {
        padding: 3vw;
    }
    #ResumeIcon {
        transform: translateY(25%);
        -webkit-transform: translateY(25%);
        -moz-transform: translateY(25%);
        -ms-transform: translateY(25%);
        -o-transform: translateY(25%);
    }
    #LowerBody {
        text-align: left;
        padding: 20;
    }
    .Showcase {
        width: 100%;
        margin: 0;
    }
    .ShowcaseTitle {
        font-size: 10vw;
    }
    .PopupShowcaseSticky {
        top: 120px;
    }
    .PopupShowcase {
        left: 0;
        margin: 0;
        width: 100%;
    }
    .CloseButton {
        height: 4vh;
    }
    iframe {
        max-height: 200px;
    }
    .GameInformation {
        margin-top: -10px;
        padding-left: 0px;
    }
}