body {
    background-image: url("Images/Background.png");
    background-repeat:round;
    font-family: 'Ubuntu Mono', monospace;
    color: grey;
    text-align: center;
    font-size: calc(25px + 0.5vw);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
#CenterBody {
    display: block;
    background-color: #252525;
    text-align: left;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
#Header {
    position: sticky;
    top: 0;
    color: #a3a3a3;
    background-color: #000;
    margin: -10px;
    height: 15vh;
    z-index: 500;
}
.Text {
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ColouredText {
    font-size: calc(25px + 0.25vw);
    color: #009933;
}
#Resume {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: calc(25px + 1vw);
    background-color: #000;
    border-radius: 2px;
    margin: 20px 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.5s steps(5);
    -webkit-transition: 0.5s steps(5);
    -moz-transition: 0.5s steps(5);
    -ms-transition: 0.5s steps(5);
    -o-transition: 0.5s steps(5);
}
#Resume:hover {
    background-color: #3d3d3d;
}
#Left {
    display: inline-block;
    width: 20vw;
    height: max-content;
}
#Right {
    text-align: left;
    display: inline-block;
    width: 60vw;
}
#SelfPortrait {
    display: inline-block;
    transform: translateY(-20%);
    width: 15vw;
    margin: 20px;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}
@media screen and (max-width: 600px) {
    #CenterBody {
        text-align: center;
        padding: 20px 0 0 0;
        padding: 0;
    }
    .Text {
        display: block;
    }
    #Left {
        width: max-content;
    }
    #SelfPortrait {
        display: block;
        width: 50vw;
        text-align: center;
        margin: 20px 0 20px 0;
        transform: translateY(-0%);
        -webkit-transform: translateY(-0%);
        -moz-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        -o-transform: translateY(-0%);
}
  }
.textaligncenter {
    text-align: center;
}
.textalignleft {
    text-align: left;
}
.textalignright {
    text-align: right;
}
.noMargin {
    padding: 0;
}